*{
    box-sizing: border-box;
}
html,body{
    padding: 0px;
    margin: 0px;
}
body{
    background: rgb(5, 37, 74);
}
header{
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: rgb(5, 37, 74);
    
}
header section{
    background-color: rgb(5, 37, 74);
    text-align: center;
    color: white;
}
.tabSection{
    width: 100%;
    height: auto;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
}
.tab-Section{
    margin-top: 0px;
    background-color: rgb(3, 136, 67);
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.tab-Section input{
    padding: 8px;
    margin: 3px;
    border-radius: .5em;
    border: none;
    background-color: whitesmoke;
    color: rgb(49, 49, 57);
    text-align: center;
    font-size: 15px;
    outline: none;
}
.tab-Section input:hover{
    border: none;
    outline: none;
}
.tab-Section select{
    padding: 5px;
    cursor: pointer;
    border-radius: .5em;
    border: 2px solid rgb(0, 81, 128);
}
.tab-Section button{
    padding: 6px;
    margin: 2px;
    border-radius: .5em;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(4, 53, 112);
    color: white;
    font-weight: bold;
    transition: all .3s;
} 
.tab-Section #printBtn{
    float: right;
    margin-right: 50px;
    padding: 7px;
}
.tab-Section button:hover{
    background-color: rgb(2, 110, 79);
}
.tab-Section select option{
    cursor: pointer;
}

main{
    width: 100%;
}
main table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}
main table #thd{
    position: sticky;
    position: -webkit-sticky;
    top: 58px;
    left: 0px;
    overflow: hidden;
}



main table thead tr th{
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px;
    background-color: rgb(1, 36, 65);
    color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    width: 5.89%;
    width: auto;
}
main table thead tr #nameTH{
    text-align: left;
    width: 400px;
}
main table tr td{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* text-align: center; */
    /* text-transform: uppercase; */
}
main table tbody tr td{
    padding: 10px;
}
main table tr #nameTD{
    font-size: 15px;
}
main table tr  #marksTD{
    text-align: center;
    color: rgb(2, 48, 90);
}

main table tr .left{
    text-align: left;
}
main table tbody tr:nth-child(even){
    background-color: rgb(197, 202, 210);
}
main table tbody tr:nth-child(odd){
    background-color: rgb(147, 151, 152);
}
main table tbody tr:hover{
    background-color: lightgray;
    cursor: pointer;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>POPUP BOX...............................................*/
.wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: black;
    opacity: 0.9;
    display: none;
}

.box{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    background-color: rgb(6, 44, 57);
    z-index: 1;
    position: relative;
    top: 30px;
    opacity: 1;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.box #box-1{
    width: 100%;
    height: 13%;
    background-color: rgb(142, 6, 49);
}
.box #box-1 h2{
    color: whitesmoke;
    margin-left: 30px;
    position: relative;
    top: 18px;
}
.box #box-1 #closeIcon{
    float: right;
    position: relative;
    bottom: 25px;
    right: 40px;
    margin-bottom: -20px;
}
.box #box-2{
    margin-top: 20px;
    width: 100%;
    border: 2px solid transparent;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
}
.box #box-2-1{
    width: 35%;
    height: 90%;
    border-right: 10px solid blue;
}
.box #box-2-2{
    width: 55%;
    height: 90%;
    border: none;
    text-align: center;
}

.box #box-2-2 #nameTxt{
    position: relative;
    top: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: .3em;
    color: rgb(120, 36, 117) ;
    background-color: rgba(203, 199, 199, 0.859);
    padding: 5px;
}

.Subject{
    display: none;
    width: 50%;
    background-color: rgb(1, 38, 106);
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}
.Subject input{
    border-radius: .5em;
    width: 100px;
    padding: 8px;
    border: none;
    margin: 5px;
    text-align: center;
    font-size: 17px;
    color: rgb(120, 36, 117);
    background-color: rgba(203, 199, 199, 0.859);
    font-weight: bolder;
}
.Subject h3{
    color: white;
    padding: 5px;
    margin: 10px;
    font-size: 25px;
    font-weight: bolder;
}
.btns button{
    background-color: rgb(157, 116, 5);
    padding: 8px;
    margin: 3px;
    margin-top: 50px;
    color: white;
    border-radius: .5em;
    border-color: greenyellow;
    cursor: pointer;
}
/* .btns button:first-child{
    position:relative;
    top: 35px;
    left: 170px;
}
#SavBtn{
    position:relative;
    top: 140px;
    left: 475px;
}
#UpdateBtn{
    position:relative;
    bottom: 54px;
    left: 465px;
} */
#ClrBtn{
    position:relative;
    top: 230px;
    left: 168px;
}
#SavBtn{
    position:relative;
    top: 140px;
    left: 475px;
}
#UpdateBtn{
    position:relative;
    top: 140px;
    left: 475px;
}
.btns button:hover{
    background-color: rgb(1, 110, 46);
}

/*...............................................ICONS................................................*/
#icon_row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(3, 136, 67);
}
.icon{
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 7px;
    background-color: rgb(59, 55, 46);
    margin-left: 3px;
}
.icon:hover{
    background-color: rgb(97, 2, 43);
}


/*......................................POPPUP WINDOW..........>>>>>>>>>>>>>>>*/
.card{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgb(185, 183, 183);
    color: white;
    display: none;
}
.reportDV {
    width: 100%;
    height: 100%;
}
.reportCard{
    width: 210mm;
    text-align: center;
    height: 270mm;
    page-break-after: always;
    background-color:rgb(11, 103, 96);
    margin: 0 auto;
}
@media print{
    body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: rgb(11, 103, 96);
  }
 .reportCard{
    width: 210mm;
    height: 270mm;
    page-break-after: always;
}   
}
.reportCard table{
    margin: 0 auto;
    width: 80%;
}
.reportCard #sec2{
    width: 80%;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    background-color: rgb(14, 138, 140);
    margin: 0 auto;
}
.reportCard #sec2 #info{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    position: relative;
    top: 20px;
}
.reportCard #sec2 #info #sName{
    color: rgb(172, 5, 119);
}
.reportCard #sec2 #inf2{
    background-color: rgb(0, 221, 255);
    width: 25%;
}
 .reportCard #sec2 #inf2 img{
    width: 80%;
    border-radius: .5em;
    border: 1px solid rgb(188, 11, 11);
 }
.reportCard #sec4{
    width: 90%;
    border: 2px groove transparent;
    margin: 0 auto;
    position: relative;
    top: 15px;
    display: flex;
    flex-direction: column;
}
.reportCard #sec4 p {
    display: none;
}
.reportCard #sec4 h3{
    text-align: right;
    margin-right: 15px;
}
#allCards{
    background-color: rgb(11, 103, 96);
}

.icon1{
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 7px;
    position: relative;
    left: 95%;
    top: 40px;
    margin: 7px;
    border-radius: .5em;
    background-color: rgb(59, 55, 46);
    margin-left: 3px;
}

#printReportCard{
    display: block;
    padding: 10px;
    background-color: red;
    color: red;

}
#closeReportCard{
    display: block;
    padding: 10px;
    background-color: red;
    color: red;
}
@media print {
 #printReportCard{
    display: none;
}
#closeReportCard{
    display: none;
}   
}

/* .card{
    width: 100%;
    height:auto;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgb(185, 183, 183);
    color: white;
    display: none;
}
.card #sec{
    float: right;
    background-color: transparent;
}
.card #sec img{
    margin: 20px;
    border-radius: .5em;
    width: 35px;
    height: 35px;

}
.card #sec img:hover{
    background: rgb(2, 121, 142);
}

.reportCard{
    width: 210mm;
    text-align: center;
    height: 297mm;
    page-break-after: always;
    background-color:rgb(11, 103, 96);
    margin: 0 auto;
    margin-bottom: 50px;
}
@media print{
 .reportCard{
    width: 210mm;
    height: 297mm;
    page-break-after: always;
}   
}
.reportCard table{
    margin: 0 auto;
    width: 80%;
}
.reportCard #sec2{
    width: 80%;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    background-color: rgb(14, 138, 140);
    margin: 0 auto;
}
.reportCard #sec2 #info{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    position: relative;
    top: 20px;
}
.reportCard #sec2 #info #sName{
    color: rgb(172, 5, 119);
}

.reportCard #sec2 #inf2{
    width: 25%;
    background-color: rgb(0, 221, 255);
    border: 2px solid transparent;
}
.reportCard #sec2 #inf2 #sId{
    color: rgb(172, 5, 119);
}
.reportCard #sec2 #inf2 img{
    width: 80%;
    border-radius: .5em;
    border: 1px solid rgb(188, 11, 11);
 }
.reportCard #sec4{
    width: 90%;
    border: 2px groove transparent;
    margin: 0 auto;
    position: relative;
    top: 90px;
    display: flex;
    flex-direction: column;
}
.reportCard #sec4 h3{
    text-align: right;
    margin-right: 15px;
}
#allCards{
    background-color: rgb(11, 103, 96);
} */

/*.........................................Print & Close Card Buttons...................................*/


#printReportCard{
    display: block;
    padding: 10px;
    background-color: gold;
}
#closeReportCard{
    display: block;
    padding: 10px;
    background-color: gold;
}
@media print {
 #printReportCard{
    display: none;
}
#closeReportCard{
    display: none;
}   
}

/*.....................................................Portals.... && Bage...............................................*/

#switchPortal{
    background-color: transparent;
    width: 100%;
    text-decoration: none;
    color: white;
    height: auto;
}

#badge img{
    right: 580px;
    height: 80px;
    width: 110px;
    bottom: 100px;
    border-radius: .5em;
    position: relative;
}

/*..............................................ADMIN-LogIN...........................*/

.adminLogin {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: black;
    display: none;
}
.adminLogin .loginCard {
    width: 80%;
    height: 80%;
    background-image: linear-gradient(rgb(0, 221, 255),rgb(0, 128, 122),rgb(0, 204, 255));
    margin: 0 auto;

}
.adminLogin .loginCard .dv{
    width: 100%;
    margin-top: 40px;
    height: 10%;
    background-color: rgb(147, 1, 86);
    display: flex;
    justify-content: space-between;

}
.adminLogin .loginCard .dv h2{
    color: white;
    margin-left: 10px;
}
.adminLogin .loginCard .dv #icon{
    width: 32px;
    margin-top: 10px;
    margin-right: 20px;
    height: 32px;
    cursor: pointer;
    padding: 5px;

}
.adminLogin .loginCard .dv #icon:hover{
    background-color: rgb(255, 0, 85);
}

.portals{
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 600px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.portal {
    transition: all .5s;
    background-color: gold;
}
#Aportal{
    margin-left: 35%;
    margin-top: 10%;
    width: 23%;
    background-color: transparent;
    overflow: hidden;
    border-radius: 1em;
    padding: 15px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

}
#Aportal button{
    color: white;
    padding: 10px;
    border-color: gold;
    background-color: rgb(2, 48, 104);
    cursor: pointer;
    transition: all .4s;
    text-transform: uppercase;
}
#Aportal button:hover{
    background-color: rgb(2, 39, 85);
    border-color: rgb(150, 129, 5);

}
#Aportal .loginsDetails{
    height: 100%;
    margin-top: 5%;
    width: 100%;
    border: 4px solid transparent;
}
#wrong{
    color: red;
    display: none;
}
#Aportal .loginsDetails input{
    width: 80%;
    margin-top: 5px;
    border-radius: .3em;
    padding: 6px;
}

#Tportal a{
    text-decoration: none;
}
#Tportal a button{
    border-color: gold;
    background-color: rgb(2, 48, 104);
    color: white;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    transition: all .4s;
}
#Tportal a button:hover{
    background-color: rgb(2, 39, 85);
    border-color: rgb(150, 129, 5);
}

/*.........................................Respective Classes................................*/



#badge{
    width: 10%;
}
#badge img{
    width: 100px;
    height: 100px;
    border-radius: .5em;
    position: absolute;
    left: 50px;
    bottom: 470px;
}

/*.........................................RESPECTIVE CLASSES.............................*/

#badge h2{
    background-color: rgb(194, 4, 121);
    width: 100%;    
    position: relative;
    bottom: 160px;
    left: 40px;
    padding: 2px;
    border-radius: .3em;
    color: whitesmoke;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

.menue{
    position: relative;
    left: 73%;
    top: 15px;
    width: 25%;
    height: auto;
    border-radius: .5em;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    transition: all .5s;
}
.menue nav{
    width: 100%;
    transition: all .5s;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.menue nav a button{
    background-color: rgb(5, 5, 177);
    text-decoration: none;
    transition: all .5s;
    padding: 10px;
    margin-left: 2px;
    font-weight: bold;
    border-radius: .5em;
    cursor: pointer;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    border: none;
    color: white;
}
.menue nav a button:hover {
    
    cursor: pointer;
    border-top: 4px solid rgb(194, 4, 121);
    border-bottom: 4px solid rgb(255, 0, 157);


}