*{
    box-sizing: border-box;
}
html,body{
    padding: 0px;
    margin: 0px;
}
body{
    background: rgb(5, 37, 74);
}
header{
    width: 100%;
    height: auto;
    margin-top: 10px;
    background-color: rgb(5, 37, 74);
    
}
header section{
    background-color: rgb(5, 37, 74);
    text-align: center;
    color: white;
}

.portals{
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 600px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
.portal {
    transition: all .5s;
    background-color: gold;
}
#Aportal{
    margin-left: 15%;
    width: 23%;
    height: 38px;
    border-radius: .5em;
    background-color: transparent;
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);

}
#Aportal button{
    color: white;
    padding: 10px;
    border-color: gold;
    background-color: rgb(2, 48, 104);
    cursor: pointer;
    transition: all .4s;
    text-transform: uppercase;
}
#Aportal button:hover{
    background-color: rgb(2, 39, 85);
    border-color: rgb(150, 129, 5);

}
#Aportal .loginsDetails{
    height: 100%;
    margin-top: 5%;
    width: 100%;
    border: 4px solid transparent;
}
#wrong{
    color: red;
    display: none;
}
#Aportal .loginsDetails input{
    width: 80%;
    margin-top: 5px;
    border-radius: .3em;
    padding: 6px;
}

#Tportal a{
    text-decoration: none;
}
#Tportal a button{
    border-color: gold;
    background-color: rgb(2, 48, 104);
    color: white;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    transition: all .4s;
}
#Tportal a button:hover{
    background-color: rgb(2, 39, 85);
    border-color: rgb(150, 129, 5);
}